template(name="courseManagement")
    //.row
    // .col-lg-12
    //    h1.page-header Gestion de parcours
    br
            
    .table-responsive.col-lg-6
              table#schools.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th #
                    th Nom
                    th Thème
                tbody
                  each activities
                    +activity
    each activities
      if current
        +courseDetails
template(name="courseDetails")
            .panel.col-lg-6
              ul.nav.nav-tabs
                li.active
                  a(href="#show", data-toggle="tab") Présentation
                li
                  a(href="#details", data-toggle="tab") Description
                li
                  a(href="#picture", data-toggle="tab") Image
                li
                  a(href="#more", data-toggle="tab") A propos
              .tab-content
                  #show.tab-pane.active
                    p #{resume}
                  #details.tab-pane
                    p #{description}
                  #picture.tab-pane
                    img.img-responsive(src="#{image}")
                  #more.tab-pane
                    p #{about}
template(name="activity")
  tr
    td *
    td #{name}
    td #{topic}

