template(name="learn")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Parcours ILPADS
    .row
      .col-lg-12
        .panel.panel-yellow
          .panel-heading
            | Votre progression
          .panel-body
            h4 Activité 1
            button.btn.btn-success.btn-circle.btn-lg(type=button)
              i.fa.fa-check
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 2
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 3
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 4
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 5
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 6
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 7
            hr
            h4 Activité 2
            button.btn.btn-success.btn-circle.btn-lg(type=button)
              i.fa.fa-check
            button.btn.btn-success.btn-circle.btn-lg(type=button)
              i.fa.fa-check
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 3
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 4
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 5
            hr
            h4 Activité 3
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 1
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 2
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 3
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 4
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 5
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 6
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 7
            button.btn.btn-default.btn-circle.btn-lg(type=button)
              | 8
            hr
