template(name="professors")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Professeurs
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Liste des Professeurs
          .panel-body
            .table-responsive
              table#schools.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th #
                    th Nom
                    th Prénom
                    th Ecoles
                    th Adresse mail
                tbody
                  each professors
                    if editing
                      tr
                        td #{index}
                        td
                          input#editLastname.form-control(type="text", value="#{profile.lastname}")
                        td
                          input#editFirstname.form-control(type="text", value="#{profile.firstname}")
                        td #{mySchools}
                        td
                          input#editMail.form-control(type="text",value="")
                    else
                      tr
                        td #{index}
                        td#edit #{profile.lastname}
                        td#edit #{profile.firstname}
                        td #{mySchools}
                        td#edit {{{emails.[0].address}}}
                  if isAdmin
                    +addProfessor
template(name="addProfessor")
  tr
    td +
    td
      input#lastname.form-control(type="text",placeholder="Nom")
    td
      input#firstname.form-control(type="text",placeholder="Prénom")
    td
    td
      input#mail.form-control(type="text",placeholder="Adresse mail")

